@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#lander{
	background:url(../assets/Corredor5-03.png) 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding:20px 0;
}

body{
	background-color: white;
	font-size: 16px;
	position: relative;
    font-family: 'Dosis', sans-serif;
}

header{
	padding:0 200px;
	font-size:.8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	font-weight: normal;
}

nav{
	/*margin:auto;*/
	text-align: right;
	float: right;
	padding-left: .5em;

}

nav a:link{
	
	color: solid black;
	margin:0 32px;
	padding-bottom:8px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

a{
	text-decoration:none;
	color: #201828;
}


nav a:hover{
	border-bottom: 1px solid red;
}

nav a:active{
	color:black;
}



main{
	background-color: #F1E9E4;
	color:#3C3C3C;
	padding:50px 0;
}

section{
	padding:200px 0;
}

footer{
	background:url(../assets/stars.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#F1E9E4;
	padding:200px 0;
}





a{
	text-decoration:none;
	color: #201828;
}

img{
	width:%;
/*	height:40px;*/
}








.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}

.wrapper{
	
	width: 90%;
    margin: auto;
}

.neils{
	width:22%;
	margin:1.5%;
	float:left;
	/*background-color: orange;*/
}

.neils img{
	max-width: 250px;
	display: block;
	margin:auto;
}








