@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url('https://fonts.googleapis.com/css?family=Dosis');




section {
	width:500px;
	margin:50px auto;
	padding:20px 0 40px;
	
}

