
@import url('https://fonts.googleapis.com/css?family=Dosis');


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: white;
	font-size: 16px;
	position: relative;
	font-family: 'Dosis', sans-serif;
}

header{
	padding:0 200px;

}

nav a:link{
	color:#fff;
	margin:0 32px;
	padding-bottom:5px;
	font-size: .8em;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
}

nav a:visited{
	color: #fff;
}

nav a:hover{
	border-bottom: 1px solid #fff;
}

nav a:active{
	color:#fff;
}



main{
	background-color: #Ffff;
	color:#3C3C3C;
	padding:50px 0;
}

section{
	padding:50px 0;
}

h1{
	font-size:60px;
	text-align:center;
	color:#fff;
	margin:200px 0 0;
}


h2{
	font-size:.4em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h3{
	font-size:2em;
	margin:1em;
}

h4{
	font-size:3em;
	text-align:center;
}

p{
	font-size:1em;
	line-height: 1.6em;
}

ul{
	list-style:none;
	margin:.5em 0 0;
}

li{
	text-align: center;
}

a{
	text-decoration:none;
	color: #201828;
}

img{
	width:100%;
/*	height:40px;*/
}

hr{
	border:none;
	width:2em;
	margin:1em auto;
}

h3 + hr{
	background-color: #3C3C3C;
	height:3px;
}

h2 + hr{
	background-color: #fff;
	height:1px;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
}

.wrapper{
	background-color: white;
	width: 90%;
    margin: auto;
}

.neils{
	width:22%;
	margin:1.5%;
	float:left;
	background-color: orange;
}

.neils img{
	max-width: 250px;
	display: block;
	margin:auto;
}

.neils > h3{
	margin:.5em;
}

.planet{
	width:500px;
	margin:50px auto;
	padding:20px 0 40px;
}


