@import url('https://fonts.googleapis.com/css?family=Dosis');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

#lander { 

background: url(assets/wallpaper-3.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:750px;
	padding:20px 0;
}

}