
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');



*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #f8fcfc;
	font-size: 16px;
	position: relative;
	font-family: 'Dosis',sans-serif;

}

header{
	padding:0 12.5em;
}

nav{
	margin:auto;
	text-align: right;
}

nav a:link{
	font-family: 'Fjalla One', sans-serif;
	color:#b11;
	padding:0 0 0 1.2em;
	font-size: 1.4em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .13em;
	-webkit-transition:color ease-in-out .3s;
	-moz-transition:color ease-in-out .3s;
	-o-transition:color ease-in-out .3s;
	transition:color ease-in-out .3s;
}

nav a:visited{
	color: #f8fcfc;
}

nav a:hover{
	color: #FFFD06;
}

nav a:active{
	color: #red;
}

main {
	/*background-color: #f8fcff;*/
	/*color:#3C3C3C;*/
	padding:3.2em 0;
}

section{
	padding: 3.2em 0;
}

footer{
	/*background:url(../assets/wallpaper-3.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	/*background-color:#f8fcff;*/
	color:##f8fcff;
	padding:3.2em 0 3.2em;
}


h2,
h3,
h4{
	text-align: center;
}

h2{
	font-size:2em;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin:0 0 2 .5em;
}

h2 + hr + p {
	/*background-color: #fff;*/
	height:1px;
	font-size:1.5em;
	text-transform: uppercase;
	letter-spacing: .25em;
	margin:0 0 2.5em;
}

h3{
	font-weight: 100;
	font-size:1.6em;
	margin:.5em;
}

h3 + hr{
	background-color: #3C3C3C;
	height:.30em;
}

h4{
	font-size:3em;
	text-align:center;
}

p{
	text-align:center;
	font-size:1em;
	line-height: 1.6em;
	
}

ul{
	list-style:none;
	margin:1em 0 0;
}

li{
	/*font-family: 'Crimson Text', serif;*/
	text-align: center;
}

a{
	text-decoration:none;

}

img{
	width:100%;
}

hr{
	border:none;
	width:2em;
	margin:1em auto;
}

label{
	/*font-family: 'Allerta', sans-serif;*/
	/*color:#fff;*/
	padding:0 2em;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .35em;
	display: none;
}

.social { 



}
.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}

.neils{
	width:23%;
	padding:1%;
	margin:1%;
	float:left;
}

.planet{
	width:33.33%;
	padding:2em 0 0;
	float: left;
	position:relative;
	overflow: hidden;
	/*background-color: orange;*/
}

.planet:nth-of-type(1){
	padding:7.5em 0 0;
}

.planet:nth-of-type(3){
	padding:6em 0 0;
}

.planet:hover > h3{
	opacity: 1;
}

.planet h3{
	/*color:red;*/
	margin:0 0 1em;
	position: absolute;
	top:220px;
	left:30px;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	display: none;
	-webkit-transition:opacity ease-in-out .5s;
	-moz-transition:opacity ease-in-out .5s;
	-o-transition:opacity ease-in-out .5s;
	transition:opacity ease-in-out .5s;
	transition:opacity ease-in-out .75s;
	opacity: 0;

}

#lander{
	background:url(../assets/wallpaper-3.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:50em;
	padding:3.7em 10.8em;

}

#neil-wrap #planet{
	width:90%;
	margin:auto;
}

#planets{
	/*background-color:#f8fcfc;*/
	/*color:#F1E9E4;*/
	padding:5em 10% 7em;
}

#toggle{
	display: none;
}



	}

	nav a:link{
		display: block;
		padding:1em;
		margin:0.4em;
	}

	h1{
		margin:40px 0 0;
	}

	header{
		padding:0 2%;
	}

	label{
		display: block;
	}

	#toggle:checked + nav{
		display: block;
	}

@media	only screen and (max-width:1540px) {
    
     nav a:visited{
	  color:#FFFD06;
    }


    nav a:hover{
	color:red;
}

nav a:active{
	color: white;
}
 @media	only screen and (max-width:1476px) {


#lander { 

  height:670px
  }
@media	only screen and (max-width:1070px) {

	nav a:visited{
	color:red ;
    }


    nav a:hover{
	color:#FFFD06;
}


nav a:link{
	font-family: 'Fjalla One', sans-serif;
	color:#b11;
	padding:0 0 0 1.2em;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .13em;

	-webkit-transition:color ease-in-out .3s;
	-moz-transition:color ease-in-out .3s;
	-o-transition:color ease-in-out .3s;
	transition:color ease-in-out .3s;
}
}
 

.neils{
	width:23%;
	padding:1%;
	margin:1%;
	float:left;
}

@media	only screen and (max-width:268px) {

	nav a:visited{
	color: red;

.neils{
	width:23%;
	padding:1%;
	margin:1%;
	float:left;
}









 
