
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #f8fcfc;
	font-size: 16px;
	position: relative;
	font-family: 'Dosis',sans-serif;

}

header{
	padding:0 200px;
}

nav{
	margin:auto;
	text-align: right;
}

nav a:link{
	font-family: 'Fjalla One', sans-serif;
	color:#b11;
	padding:0 0 0 18px;
	font-size: 1.4em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition:color ease-in-out .3s;
	-moz-transition:color ease-in-out .3s;
	-o-transition:color ease-in-out .3s;
	transition:color ease-in-out .3s;
}

nav a :visited{
	color: #f8fcfc;
}

nav a, h2, h3:hover{
	color: #FFFD06;
}

nav a:active{
	color: #red;
}

main {
	
	padding:50px 0;
}

section{
	padding:50px 0;
}

footer{
	
	color:##f8fcff;
	padding:50px 0 50px;
}


h2,
h3,
h4{
	text-align: center;
}

h2{
	font-size:2em;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin:0 0 2 .5em;
}

h2 + hr + p {
	/*background-color: #fff;*/
	height:1px;
	font-size:1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin:0 0 2.5em;
}

h3{
	font-weight: 100;
	font-size:1.6em;
	margin:.5em;
}

h3 + hr{
	background-color: #3C3C3C;
	height:3px;
}

h4{
	font-size:3em;
	text-align:center;
}

p{
	text-align:center;
	font-size:1em;
	line-height: 1.6em;
	
}

ul{
	list-style:none;
	margin:1em 0 0;
}

li{
	font-family: 'Crimson Text', serif;
	text-align: center;
}

a{
	text-decoration:none;

}

img{
	width:100%;
}

hr{
	border:none;
	width:2em;
	margin:1em auto;
}

label{
	
	padding:0 32px;
	font-size: .8em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: none;
}


.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}

.studio{
	width:23%;
	padding:1%;
	margin:1%;
	float:left;
}

.work{
	width:33.33%;
	padding:2em 0 0;
	float: left;
	position:relative;
	overflow: hidden;
	/*background-color: orange;*/
}

.work:nth-of-type(1){
	padding:7.5em 0 0;
}

.work:nth-of-type(3){
	padding:6em 0 0;
}

.work:hover > h3{
	opacity: 1;
}

.work h3{
	/*color:red;*/
	margin:0 0 1em;
	position: absolute;
	top:220px;
	left:30px;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
	display: none;
	-webkit-transition:opacity ease-in-out .5s;
	-moz-transition:opacity ease-in-out .5s;
	-o-transition:opacity ease-in-out .5s;
	transition:opacity ease-in-out .5s;
	transition:opacity ease-in-out .75s;
	opacity: 0;

}

#lander{
	background:url(../assets/wallpaper-3.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:800px;
	padding:58px 174px;

}

#studio-wrap #work{
	width:90%;
	margin:auto;
}

#work{
	
	padding:5em 10% 7em;
}

#toggle{
	display: none;
}



	}

	nav a:link{
		display: block;
		padding:15px;
		margin:5px;
	}

	h1{
		margin:40px 0 0;
	}

	header{
		padding:0 2%;
	}

	label{
		display: block;
	}

	#toggle:checked + nav{
		display: block;
	}

}
